# Boilerplate OSX directories..
Documents
Music
Movies
Library
Desktop
Applications
Pictures
Downloads
Public
Sites

# Created by the setup script..
Repositories
.local
.vim/doc
.vim/plugin
.vim/nerdtree_plugin

# Assorted hidden files and folders..
.CFUserTextEncoding
.NERDTreeBookmarks
.Trash
.Xauthority
.adobe
.bash_history
.bash_profile
.cups
.fontconfig
.gdb_history
.gem
.gitconfig
.idlerc
.irssi
.juicer
.macports
.oh-my-zsh
.pentadactyl
.post-review-cookies.txt
.rnd
.sh_history
.subversion
.viminfo
.zcompdump
.zsh-update
.zsh_history
.zshrc

# Assorted very annoying files..
.DS_Store
